<div class="container text-center">
  <div class="row">
    <div class="col-8 mt-5 text-center">
      <h1>Thank you for your order!</h1>
      <h3>Your order number is # <%= @order.id %></h3>
      <h3>It will be delivered via <%= @order.delivery_option %></h3>
      <h3>Paid via <%= @order.payment_option %></h3>
      <h5>Confirmation will be sent to <%= @order.user.email %></h5>
    </div>
  </div>
    <div class="col-8 mt-5">
      <h3 class="mb-3">Order summary: </h3>
      <% order_amount = 0 %>
        <% @order.product_orders.each do |item| %>
      <div class="d-flex flex-column">
        <div class="card-product rounded-lg">
            <% item.product.photos.each_with_index do |photo, index| %>
            <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill, gravity: :center %>
          <% end %>
          <div class="card-product-infos">
            <h5><%= item.product.name %></h5>
            <p><%= item.product.description %></p>
            <% order_amount += item.product.price_cents %>
            <p>£<%= item.product.price_cents %></p>
          </div>
        </div>
      </div>
       <% end %>
       <hr>
       <h5>Total price: £<%= order_amount %></h5>
       <%= link_to 'Back to Accounts', my_account_path, class: "btn btn-success text-white mb-5" %>
    </div>
</div>
