<div class="container mb-3 min-vh-100">
  <div class="row">
    <div class="col-md-12 mt-4 text-center">
      <h1>Your basket</h1>
    </div>
  </div>
  <h5>Hi <%= @order.user.name.capitalize %>!</h5>
  <% if @order.product_orders.count == 0 || @order.product_orders.count == 1 %>
  <h5>You have <%= @order.product_orders.count %> item in your basket. </h5>
  <% else %>
  <h5>You have <%= @order.product_orders.count %> items in your basket. </h5>
<% end %>
  <div class="card-body mt-5">
    <div class="row align-items-center">

      <% @order.product_orders.each do |item| %>
        <div class="col-12 col-sm-12 col-md-3 text-center mb-3">
          <% item.product.photos.each_with_index do |photo, index| %>
            <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill, gravity: :center %>
          <% end %>
        </div>
        <div class="col-12 col-sm-12 col-md-5 text-sm-center text-md-left ">
          <h5><%= item.product.name %></h5>
          <p><%= item.product.description %></p>
          <p>Sale type: <%= item.product.sale_type %></p>
        </div>
        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row justify-content-between">
          <div class="col-3 col-sm-3 col-md-6 text-md-right">

            <h5 class="mt-1" id="price-item">£<%= item.product.price_cents %> x 1<span class="text-muted"></span></h5>
          </div>

          <div class="col-2 col-sm-2 col-md-2 text-right">
            <button type="button" class="btn btn-outline-primary btn-xs">
             <%= link_to product_order_path(item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
            </button>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
    <div class="card-footer d-flex justify-content-between mt-3">
      <% unless current_user.orders.find_by(state:"pending").product_orders.count.zero? %>

      <div>
        <%= link_to 'Checkout', order_checkout_path(@order), class: "btn btn-success" %>
        <%= link_to "Back", request.referer.present? ? request.referer : default_path, class: "btn btn-success text-white" %>
      </div>
      <span><h5 id="price-total">Total: £<%= @order.total_price %></h5></span>
    </div>

  </div>

  <div class="recommendations">
    <h3 class="align-text ml-2 mb-4 mt-4">You may also like...</h3>
    <div class="cards d-flex flex-wrap justify-content-around position-relative text-center ml-1">
      <% @similar_products.sample(4).each do |product| %>
        <div class="card rounded-lg mb-4" style="width: 16rem; height: 28rem;">
          <div class="card-body">
            <%= link_to product_path(product) do %>
              <% product.photos.each_with_index do |photo, index| %>
                <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill, gravity: :center %>
              <% end %>
            <% end %>

            <%= link_to product_path(product) do%>
              <h5 class="card-title mt-1"><%= product.name.capitalize %></h5>
              <p class="card-text m-0" style="font-size: 14px">Category: <%= product.category %></p>
              <p class="card-text m-0" style="font-size: 14px">Condition: <%= product.condition %></p>
              <p class="card-text m-0" style="font-size: 20px">£<%= product.price_cents %></p>
              <% end %>
            <%=  link_to "Add to basket", product_product_orders_path(product), method: :post %>
            <div class="rating text-center position-absolute">
              <%= link_to save_item_product_path(product), remote: true, method: :post do %>
                <%= render 'products/like_button', product: product %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>

    </div>
  </div>
<% end %>
</div>


