<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="d-flex flex-column min-vh-70 mt-5">
        <h1>My Account</h1>
        <%= image_tag "https://images.unsplash.com/photo-1544725176-7c40e5a71c5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1647&q=80", class: "avatar-large m-2", alt: "profile" %>
        <h3>Hi <%= current_user.nickname %>!</h3>
        <h4><%= link_to "View your orders", orders_path %></h4>
        <h4><%= link_to "My reviews", reviews_path %></h4>
        <h4><%= link_to "My messages", root_path %></h4>
        <h4><%= link_to "Saved items", root_path %></h4>
        <h4><%= link_to "Sell an item", root_path %></h4>
        <h4><%= link_to('Logout', destroy_user_session_path, method: :delete) %></h4>
      </div>
    </div>
    <div class="col-8 mt-5">
      <h1 class="mb-3">You might like...</h1>
      <div class="d-flex flex-column">

        <div class="card-product rounded-lg">
          <%= link_to products_path[34] do %>
            <% @products[34].photos.each_with_index do |photo, index| %>
              <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill, gravity: :center %>
            <% end %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= @products[34].name %></h2>
            <p><%= @products[34].description %></p>
          </div>
        </div>

        <div class="card-product rounded-lg">
          <%= link_to products_path[12] do %>
            <% @products[12].photos.each_with_index do |photo, index| %>
              <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill, gravity: :center %>
            <% end %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= @products[12].name %></h2>
            <p><%= @products[12].description %></p>
          </div>
        </div>

        <div class="card-product rounded-lg">
          <%= link_to products_path[21] do %>
            <% @products[21].photos.each_with_index do |photo, index| %>
              <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill, gravity: :center %>
            <% end %>
          <% end %>
          <div class="card-product-infos">
            <h2><%= @products[21].name %></h2>
            <p><%= @products[21].description %></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

