<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="d-flex flex-column min-vh-70 mt-5">
        <h1>My Account</h1>
        <%= image_tag "https://images.unsplash.com/photo-1544725176-7c40e5a71c5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1647&q=80", class: "avatar-large m-2", alt: "profile" %>
        <h3>Hi <%= current_user.nickname %>!</h3>
        <h4><%= link_to "Your orders", orders_path %></h4>
        <h4><%= link_to "Your basket", edit_order_path(current_user.orders.find_by(state:"pending")) %></h4>
        <h4><%= link_to "Saved items", saved_items_path %></h4>
        <h4><%= link_to "Sell an item", new_product_path %></h4>
        <h4><%= link_to "Your sale items", sale_items_path %></h4>
        <br/>
        <h4><%= link_to('Logout', destroy_user_session_path, method: :delete) %></h4>
      </div>
    </div>
    <div class="col-8 mt-5">
      <h1 class="mb-3">You might like...</h1>
      <div class="d-flex flex-column">

        <% @featured_products.each do |product| %>
          <div class="card-product rounded-lg">
            <%= link_to product_path(product) do %>
              <% product.photos.each_with_index do |photo, index| %>
                <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill, gravity: :center %>
              <% end %>
            <% end %>
            <div class="card-product-infos">
              <h2><%= product.name %></h2>
              <p><%= product.description %></p>
              <p>£<%= product.price_cents %></p>
              <p>Seller: <%= product.user.nickname %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

