<div class="card-trip">
  <br>
  <%= link_to product_path(product) do %>
    <% product.photos.each_with_index do |photo, index| %>
      <%= cl_image_tag photo.key, height: 110, width: 110, crop: :fill, gravity: :center %>
    <% end %>
  <% end %>
  <a href= "<%= product_path(product) %>">
  <h5><%= product.name %></h5>
   <% if product.sale_type == "Swap" %>
    <p class="pink-text" style="font-size: 16px">Sale type: <%= product.sale_type %></p>
   <% else %>
    <p class="yellow-text" style="font-size: 16px">Sale type: Buy </p>
   <% end %>
</div>
