<div class="card-trip">
  <%= link_to product_path(product) do %>
            <% product.photos.each_with_index do |photo, index| %>
              <%= cl_image_tag photo.key, height: 110, width: 110, crop: :fill, gravity: :center %>
            <% end %>
          <% end %>

  <a href="<%= product_path(product) %>"</a>
  <h6><%= product.name %></h6>
  <p><%= product.address %></p>
</div>
