<div class="container-main text-center">
  <div class="banner s1">
    <div class="container header">
      <div class="home-title">
        <h1 class="title-1">bu</h1>
        <h1 class="title-2">yb</h1>
        <%= image_tag("logo.jpg", width: "80px", height: "80px", class: "logo" )%>
        <h1 class="title-3">by</h1>
      </div>
        <p class="tagline mt-2">Swap & shop for baby items locally</p>
    </div>
    <div>
      <p><%= link_to 'Click here for all items', products_path, class: "btn btn-green btn-lg" %></p>
    </div>
  </div>

  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="..." class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h4>Buy items easy & fast from trusted sellers</h4>
          </div>
        </div>

        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h4>Sell unwanted items to parents nearby</h4>
          </div>
        </div>

        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h4>Swap pre-loved items & save money</h4>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="section s3 p-3 ml-3">
      <h4 class="title mb-3"><strong>Category</strong></h4>
      <div class="categories">
        <div class="category">
          <%= image_tag("clothing.jpeg", width: "75px", height: "75px", class: "fillwidth") %>
          <h6>clothing</h6>
        </div>
        <div class="category">
          <%= image_tag("toys.jpeg", width: "75px", height: "75px", class: "fillwidth") %>
          <h6>toys</h6>
        </div>
        <div class="category">
          <%= image_tag("nursery.jpeg", width: "75px", height: "75px", class: "fillwidth") %>
          <h6>nursery</h6>
        </div>
        <div class="category">
          <%= image_tag("bathing.jpeg", width: "75px", height: "75px", class: "fillwidth") %>
          <h6>bathing</h6>
        </div>
        <div class="category">
          <%= image_tag("pushchair.jpeg", width: "75px", height: "75px", class: "fillwidth") %>
          <h6>pushchairs</h6>
        </div>
        <div class="category">
          <%= image_tag("carseats.jpeg", width: "75px", height: "75px", class: "fillwidth") %>
          <h6>car seats</h6>
        </div>
      </div>
    </div>

    <div class="section s4 p-3">
      <h4 class="title mb-3"><strong>Popular items near you</strong></h4>
    </div>
  </div>
</div>




