<div class="container">
  <div class="m-3">
    <h1><strong>View Products</strong></h1>
    <p><%= @products.count %> results</p>
    <%= form_tag products_path, method: :get do %>
      <div class="input-group mb-3 mr-3">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control col-6",
          placeholder: "Search for items...",
          aria: { label: "find", describedby: "basic-addon1" }
        %>
        <div class="input-group-prepend">
          <span class="input-group-text p-0 pr-1 pl-1" id="basic-addon1">
            <%= button_tag type: "submit", class: "search-icon" do %>
              <i class="fas fa-search"></i>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="cards d-flex flex-wrap justify-content-around position-relative text-center ml-1">
    <% @products.each do |product| %>
      <div class="card rounded-lg mb-4" style="width: 16rem;">
        <div class="card-body">
          <%= link_to product_path(product) do %>
            <% product.photos.each_with_index do |photo, index| %>
              <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill, gravity: :center %>
            <% end %>
          <% end %>
          <h5 class="card-title mt-1"><%= product.name.capitalize %></h5>
          <p class="card-text m-0" style="font-size: 14px">Category: <%= product.category %></p>
          <p class="card-text m-0" style="font-size: 14px">Condition: <%= product.condition %></p>
          <p class="card-text m-0" style="font-size: 20px">£<%= product.price_cents %></p>
          <div class="rating text-center position-absolute">
          <%= button_tag type: "button", name: "", class: "btn btn-heart" do %>
            <i class="far fa-heart"></i>
          <% end %>
          </div>
        </div>
      </div>
<% end %>
  </div>
</div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

