<div class="container min-vh-100 mt-5 d-flex">
  <div class="row">
    <div class="col-8">
<!--       <div id="carouselExampleControls" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner"> -->
          <% @product.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= cl_image_tag photo.key, height: 600, width: 600, crop: :fill, gravity: :center %>
            </div>
          <% end %>
<!--         </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>
    </div>
    <div class="col-4">
      <div class="ml-3">
        <h1><%= @product.name.capitalize %></h1>
        <table class="mt-3" style="width:100%">
          <tr>
            <th><h5>Category:</h5></th>
            <td><h5><%= @product.category.capitalize %></h5></td>
          </tr>
          <tr>
            <th><h5>Description:</h5></th>
            <td><h5><%= @product.description.capitalize %></h5></td>
          </tr>
          <tr>
            <th><h5>Condition:</h5></th>
            <td><h5><%= @product.condition.capitalize %></h5></td>
          </tr>
          <tr>
            <th><h5>Size:</h5></th>
            <td><h5><%= @product.size.capitalize %></h5></td>
          </tr>
          <tr>
            <th><h5>Colour:</h5></th>
            <td><h5><%= @product.colour.capitalize %></h5></td>
          </tr>
          <tr>
            <th><h5>Location:</h5></th>
            <td><h5><%= @product.location.capitalize %></h5></td>
          </tr>
          <tr>
            <th><h5>Price:</h5></th>
            <td><h5>£<%= @product.price_cents %></h5></td>
          </tr>
          <tr>
            <th><h5>Seller:</h5></th>
            <td><h5><%= @product.user.nickname %></h5></td>
          </tr>
        </table>
        <br/>
        <div class="links list-inline">
          <p><%= link_to 'Ask seller', product_product_orders_path(@product), class: "btn btn-outline-primary ask" %></p>
          <p><%= link_to 'Add to basket', product_product_orders_path(@product), class: "btn btn-primary text-white" %></p>
        </div>
        <br/>
        <p><i class="fas fa-shield-alt"></i> Be covered by BuyBaby's Buyer Protection, which includes our refund policy</p>
      </div>
    </div>
  </div>
</div>



