<div class="container mt-5 d-flex">
  <div class="row">
    <div class="col">
      <% @product.photos.each_with_index do |photo, index| %>
        <div class="position-relative">
          <%= cl_image_tag photo.key, height: 500, width: 500, crop: :fill, gravity: :center %>
        </div>
        <div class="show-rating position-absolute">
          <%= link_to save_item_product_path(@product), remote: true, method: :post do %>
            <div class="row pl-2">
              <%= render 'products/like_button', product: @product %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-6">
    <div class="ml-3">
      <h1><%= @product.name.capitalize %></h1>
      <p><%= link_to 'Add to basket', product_product_orders_path(@product), method: :post, class: "btn btn-primary text-white my-3" %></p>
      <table class="mt-3" style="width:100%">
        <tr>
          <th><h5 class="text-dark" class="text-dark">Category:</h5></th>
          <td><h5 class="text-dark"><%= @product.category.capitalize %></h5></td>
        </tr>
        <tr>
          <th><h5 class="text-dark">Description:</h5></th>
          <td><h5 class="text-dark"><%= @product.description.capitalize %></h5></td>
        </tr>
        <tr>
          <th><h5 class="text-dark">Condition:</h5></th>
          <td><h5 class="text-dark"><%= @product.condition.capitalize %></h5></td>
        </tr>
        <tr>
          <th><h5 class="text-dark">Sale type:</h5></th>
          <% if @product.sale_type == "Swap" %>
            <td><h5 class="text-dark"><%= @product.sale_type %></h5></td>
          <% else %>
            <td><h5 class="text-dark">Buy</h5></td>
          <% end %>
        </tr>
        <tr>
          <th><h5 class="text-dark">Size:</h5></th>
          <td><h5 class="text-dark"><%= @product.size.capitalize %></h5></td>
        </tr>
        <tr>
          <th><h5 class="text-dark">Colour:</h5></th>
          <td><h5 class="text-dark"><%= @product.colour.capitalize %></h5></td>
        </tr>
        <% if @product.price_cents > 0 %>
          <tr>
            <th><h5 class="text-dark">Price:</h5></th>
            <td><h5 class="text-dark">£<%= @product.price_cents %></h5></td>
          </tr>
        <% end %>
        <tr>
          <th><h5 class="text-dark">Seller:</h5></th>
          <td><h5 class="text-dark"><%= @product.user.nickname %></h5></td>
        </tr>
      </table>
      <br/>
      <div class="links list-inline">
        <% if @product.user == current_user %>
          <p><%= link_to 'Edit item', edit_product_path(@product), class: "btn btn-outline-primary ask" %></p>
        <% end %>
      </div>
      <br/>
      <p><i class="fas fa-shield-alt"></i> Be covered by BuyBaby's Buyer Protection, which includes our refund policy</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="seller-info">
    <%= image_tag("sandy.jpeg", class: "avatar", alt: "avatar")%>
    <h5 style="display: inline; margin-left: 10px"> <%= @product.user.nickname %></h5>
    <div class="col-2 d-flex justify-content-end">
      <% total_ratings = [] %>
      <% @product.user.reviews.each do |review| %>
        <% total_ratings << review.rating %>
      <% end %>
      <% if total_ratings == [] %>
          <% 5.times do %>
            <span><i class="far fa-star"></i></span>
          <% end %>
      <% else %>
        <% average_rating = total_ratings.sum / total_ratings.size %>
        <div class="ratings">
          <% average_rating.times do  %>
            <span><i class="fas fa-star"></i></span>
          <% end %>
          <% (5 - average_rating).times do %>
            <span><i class="far fa-star"></i></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="links my-3">
    <%= link_to "View all seller reviews", user_review_path(@product.user, product:@product), class: "btn btn-primary text-white mb-1" %>
  </div>
</div>

